
@{
    ViewData["Title"] = "ShowProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model List<BissnessEntity.ProductUs.ListProductDto>
<div class="breadcrumbs_wrap dark">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-center">
                    <h2 class="breadcrumbs_title">محصولات</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/home/index"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- =========================== Breadcrumbs =================================== -->
<!-- =========================== Search Products =================================== -->
<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="filter_search_opt">
                    <a href="javascript:void(0);" onclick="openFilterSearch()"><i class="ti-reload"></i></a>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Single Product -->
            <div class="col-lg-4 col-md-12">
                <div class="search-sidebar sm-sidebar" id="filter_search" style="right:0;">
                    <div class="search-sidebar_header">
                        <h4 class="ssh_heading">بستن فیلتر</h4>
                        <button onclick="closeFilterSearch()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
                    </div>
                    <div class="search-sidebar-body">

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4 class="mr-4 mt-4">دسته بندی ها</h4>
                            </div>
                            <div class="widget-boxed-body">
                                <div class="side-list no-border">
                                    <div class="filter-card" id="shop-categories">

                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <h5><a href="#shoes" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">کفش<i class="accordion-indicator ti-angle-down"></i></a></h5>

                                            <div class="collapse" id="shoes" data-parent="#shop-categories">
                                                <div class="card-body">
                                                    <div class="inner_widget_link">
                                                        <ul>
                                                            <li><a href="#">کفش پاشنه بلند<span>112</span></a></li>
                                                            <li><a href="#">شنل<span>82</span></a></li>
                                                            <li><a href="#">ورزشی<span>56</span></a></li>
                                                            <li><a href="#">چکمه<span>101</span></a></li>
                                                            <li><a href="#">کفش پیاده روی<span>212</span></a></li>
                                                            <li><a href="#">صندل<span>92</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <h5><a href="#clothing" data-toggle="collapse" class="" aria-expanded="false" role="button">پوشاک<i class="accordion-indicator ti-angle-down"></i></a></h5>

                                            <div class="collapse show" id="clothing" data-parent="#shop-categories">
                                                <div class="card-body">
                                                    <div class="inner_widget_link">
                                                        <ul>
                                                            <li><a href="#">بلوز<span>82</span></a></li>
                                                            <li><a href="#">کت و شلوار<span>110</span></a></li>
                                                            <li><a href="#">بلوز<span>103</span></a></li>
                                                            <li><a href="#">شلوار کت<span>72</span></a></li>
                                                            <li><a href="#">تی شرت<span>36</span></a></li>
                                                            <li><a href="#">پیراهن مردانه<span>122</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <h5><a href="#watches" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">ساعت<i class="accordion-indicator ti-angle-down"></i></a></h5>

                                            <div class="collapse" id="watches" data-parent="#shop-categories">
                                                <div class="card-body">
                                                    <div class="inner_widget_link">
                                                        <ul>
                                                            <li><a href="#">ساعت ورزشی<span>112</span></a></li>
                                                            <li><a href="#">ساعت<span>112</span></a></li>
                                                            <li><a href="#">ساعت مد<span>112</span></a></li>
                                                            <li><a href="#">ساعت دخترانه<span>112</span></a></li>
                                                            <li><a href="#">ساعت هوشمند<span>112</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <h5><a href="#bags" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">کیف<i class="accordion-indicator ti-angle-down"></i></a></h5>

                                            <div class="collapse" id="bags" data-parent="#shop-categories">
                                                <div class="card-body">
                                                    <div class="inner_widget_link">
                                                        <ul>
                                                            <li><a href="#">کیف معمولی<span>212</span></a></li>
                                                            <li><a href="#">کیف اسپورت<span>212</span></a></li>
                                                            <li><a href="#">چمدان<span>82</span></a></li>
                                                            <li><a href="#">کیف مد<span>212</span></a></li>
                                                            <li><a href="#">کیف کوچک<span>113</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Single Filter Card -->
                                        <div class="single_filter_card">
                                            <h5><a href="#accessories" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">تجهیزات جانبی<i class="accordion-indicator ti-angle-down"></i></a></h5>

                                            <div class="collapse" id="accessories" data-parent="#shop-categories">
                                                <div class="card-body">
                                                    <div class="inner_widget_link">
                                                        <ul>
                                                            <li><a href="#">کیف پول مردانه<span>432</span></a></li>
                                                            <li><a href="#">کمربند مردانه<span>82</span></a></li>
                                                            <li><a href="#">کلاه<span>541</span></a></li>
                                                            <li><a href="#">جواهرات<span>312</span></a></li>
                                                            <li><a href="#">زیبایی<span>65</span></a></li>
                                                            <li><a href="#">لوازم آرایشی<span>242</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#pricing" data-toggle="collapse" aria-expanded="false" role="button">قیمت</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse show" id="pricing" data-parent="#pricing">
                                <div class="side-list no-border mb-4">
                                    <div class="rg-slider">
                                        <input type="text" class="js-range-slider" name="my_range" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#size" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">سایز</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="size" data-parent="#size">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="woo_colors_list">
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioOne" value="5" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioOne">5</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioTwo" value="6" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioTwo">6</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioThree" value="6.6" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioThree">6.5</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioFour" value="7" data-toggle="form-caption" data-target="#sizeCaption" checked>
                                                    <label class="custom-control-label" for="sizeRadioFour">7</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioFive" value="6" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioFive">7.5</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioSix" value="8" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioSix">8</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioSev" value="8.5" data-toggle="form-caption" data-target="#sizeCaption" disabled>
                                                    <label class="custom-control-label" for="sizeRadioSev">8.5</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioEig" value="9" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioEig">9</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioNine" value="10" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioNine">10</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioTen" value="11" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioTen">11</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioEle" value="12" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioEle">12</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioTvel" value="13" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioTvel">13</label>
                                                </div>
                                                <div class="custom-varient custom-size">
                                                    <input type="radio" class="custom-control-input" name="sizeRadio" id="sizeRadioThir" value="14" data-toggle="form-caption" data-target="#sizeCaption">
                                                    <label class="custom-control-label" for="sizeRadioThir">14</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#brands" data-toggle="collapse" aria-expanded="false" role="button">برند</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse show" id="brands" data-parent="#brands">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="inner_widget_link">
                                                <ul class="no-ul-list">
                                                    <li>
                                                        <input id="b1" class="checkbox-custom" name="b1" type="checkbox">
                                                        <label for="b1" class="checkbox-custom-label">سامسونگ<span>142</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="b2" class="checkbox-custom" name="b2" type="checkbox">
                                                        <label for="b2" class="checkbox-custom-label">اپل<span>652</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="b3" class="checkbox-custom" name="b3" type="checkbox">
                                                        <label for="b3" class="checkbox-custom-label">نیکی<span>232</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="b4" class="checkbox-custom" name="b4" type="checkbox">
                                                        <label for="b4" class="checkbox-custom-label">ریبوک<span>192</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="b5" class="checkbox-custom" name="b5" type="checkbox">
                                                        <label for="b5" class="checkbox-custom-label">هاوایی<span>265</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#gender" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">جنسیت</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="gender" data-parent="#gender">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="inner_widget_link">
                                                <ul class="no-ul-list">
                                                    <li>
                                                        <input id="g1" class="checkbox-custom" name="g1" type="checkbox">
                                                        <label for="g1" class="checkbox-custom-label">همه<span>22</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="g2" class="checkbox-custom" name="g2" type="checkbox">
                                                        <label for="g2" class="checkbox-custom-label">مردانه<span>472</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="g3" class="checkbox-custom" name="g3" type="checkbox">
                                                        <label for="g3" class="checkbox-custom-label">زنانه<span>170</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#discount" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">تخفیف</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="discount" data-parent="#discount">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="inner_widget_link">
                                                <ul class="no-ul-list">
                                                    <li>
                                                        <input id="d1" class="checkbox-custom" name="d1" type="checkbox">
                                                        <label for="d1" class="checkbox-custom-label">80% تخفیف<span>22</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="d2" class="checkbox-custom" name="d2" type="checkbox">
                                                        <label for="d2" class="checkbox-custom-label">60% تخفیف<span>472</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="d3" class="checkbox-custom" name="d3" type="checkbox">
                                                        <label for="d3" class="checkbox-custom-label">50% تخفیف<span>170</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="d4" class="checkbox-custom" name="d4" type="checkbox">
                                                        <label for="d4" class="checkbox-custom-label">40% تخفیف<span>170</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#types" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">نوع</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="types" data-parent="#types">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="inner_widget_link">
                                                <ul class="no-ul-list">
                                                    <li>
                                                        <input id="t1" class="checkbox-custom" name="t1" type="checkbox">
                                                        <label for="t1" class="checkbox-custom-label">همه نوع<span>422</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="t2" class="checkbox-custom" name="t2" type="checkbox">
                                                        <label for="t2" class="checkbox-custom-label">نوع عادی<span>472</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="t3" class="checkbox-custom" name="t3" type="checkbox">
                                                        <label for="t3" class="checkbox-custom-label">نوع ساده<span>170</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="t4" class="checkbox-custom" name="t4" type="checkbox">
                                                        <label for="t4" class="checkbox-custom-label">نوع مدرن<span>140</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#occation" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">فصل ها</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="occation" data-parent="#occation">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="inner_widget_link">
                                                <ul class="no-ul-list">
                                                    <li>
                                                        <input id="o1" class="checkbox-custom" name="o1" type="checkbox">
                                                        <label for="o1" class="checkbox-custom-label">همه فصول<span>422</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="o2" class="checkbox-custom" name="o2" type="checkbox">
                                                        <label for="o2" class="checkbox-custom-label">پاییز<span>472</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="t33" class="checkbox-custom" name="o33" type="checkbox">
                                                        <label for="t33" class="checkbox-custom-label">زمستان<span>170</span></label>
                                                    </li>
                                                    <li>
                                                        <input id="o4" class="checkbox-custom" name="o4" type="checkbox">
                                                        <label for="o4" class="checkbox-custom-label">تابستان<span>140</span></label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Option -->
                        <div class="single_search_boxed">
                            <div class="widget-boxed-header">
                                <h4><a href="#colors" data-toggle="collapse" class="collapsed" aria-expanded="false" role="button">رنگ</a></h4>
                            </div>
                            <div class="widget-boxed-body collapse" id="colors" data-parent="#colors">
                                <div class="side-list no-border">
                                    <!-- Single Filter Card -->
                                    <div class="single_filter_card">
                                        <div class="card-body pt-0">
                                            <div class="woo_colors_list">
                                                <div class="custom-varient custom-color red">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="red" value="5" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="red">5</label>
                                                </div>
                                                <div class="custom-varient custom-color green">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="green" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="green">6</label>
                                                </div>
                                                <div class="custom-varient custom-color purple">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="purple" value="6.6" data-toggle="form-caption" data-target="#colorCaption" checked>
                                                    <label class="custom-control-label" for="purple">6.5</label>
                                                </div>
                                                <div class="custom-varient custom-color yellow">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="yellow" value="7" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="yellow">7</label>
                                                </div>
                                                <div class="custom-varient custom-color blue">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="blue" value="6" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="blue">7.5</label>
                                                </div>
                                                <div class="custom-varient custom-color pink">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="pink" value="8" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="pink">8</label>
                                                </div>
                                                <div class="custom-varient custom-color ocean">
                                                    <input type="radio" class="custom-control-input" name="colorRadio" id="ocean" value="8.5" data-toggle="form-caption" data-target="#colorCaption">
                                                    <label class="custom-control-label" for="ocean">8.5</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            

            <div class="col-lg-8 col-md-12">

                <!-- Banner -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="min_banner mb-5">
                            <img src="~/assets/img/min/banner-5.png" class="img-fluid rounded" alt="" />
                        </div>
                    </div>
                </div>

                <!-- Shorter Toolbar -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="toolbar toolbar-products">
                            <div class="toolbar-sorter sorter">
                                <label class="sorter-label" for="sorter">مرتب سازی</label>
                                <select id="sorter" onchange="Selectindx()" class="sorter-options">
                                   
                                    <option value="0" selected="selected">پر بازدیدترین </option>
                                    <option value="1">پر فروش ترین </option>
                                    <option value="2">محبوب ترین </option>
                                    <option value="3">جدیدترین </option>
                                    <option value="4">ارزان ترین </option>
                                    <option value="5">گران ترین </option>
                                </select>
                                <a href="" id="Orden" class="action sorter-action"><i class="ti-arrow-up"></i></a>
                            </div>

                            

                            <div class="field limiter">
                                <label class="label" for="limiter">
                                    <span>نمایش</span>
                                </label>
                                <div class="control">
                                    <select id="limiter" data-role="limiter" class="limiter-options">
                                        <option value="5">5</option>
                                        <option value="10" selected="selected">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="25">25</option>                                       
                                    </select>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Row -->
                <div class="row">

                    @foreach (var item in Model)
                    {
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="woo_product_grid">
                            <div class="woo_product_thumb">
                                <img src="~/images/product/@item.ImageSrc" class="img-fluid" alt="" />
                            </div>
                            <div class="woo_product_caption center">
                                <div class="woo_rate">
                                    @for (int i = 0; i <= item.star; i++)
                                    {
                                        <i class="fa fa-star active"></i>
                                    }
                                    @for (int i = 0; i <= (5 - item.star); i++)
                                    {
                                    <i class="fa fa-star filled"></i>
                                    }
                                                                        
                                </div>
                                <div class="woo_title">
                                    <h4 class="woo_pro_title"><a href="detail-1.html">@item.Title</a></h4>
                                </div>
                                <div class="woo_price">
                                    <h6>@item.price تومان</h6>
                                </div>
                            </div>
                            <div class="woo_product_cart hover">
                                <ul>
                                    <li><a href="/product/Detail?id=@item.id"  class="woo_cart_btn btn_cart"><i class="ti-eye"></i></a></li>
                                    <li><a href="/Cart/AddCart?id=@item.id" class="woo_cart_btn btn_view"><i class="ti-shopping-cart"></i></a></li>
                                    <li><a href="/Product/AddFavorite?ProductId=@item.id" class="woo_cart_btn btn_save"><i class="ti-heart"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    }
                    


                </div>
                <!-- Row -->

                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item right">
                                    <a class="page-link" href="#" aria-label="Previous"></a>
                                        <span aria-hidden="true"><i class="ti-arrow-right ml-1"></i>قبلی</span>
                                @{
                                    BissenessLagicLayer.BlProductUs bll = new BissenessLagicLayer.BlProductUs();
                                    int f = bll.getTotal();
                                    int count;
                                    if (f % 10 == 0) count = f / 10;
                                    else count = (f / 10) + 1;
                                    var a = 0;
                                    for (int i = 0; i < count; i++)
                                    {
                                        if (i == 0 || i == 1)
                                        {
                                            a = 1;
                                        }
                                        else
                                        {
                                            a = i;
                                }

                                       <li hidden><input type="text" id="numpage" value="" /></li>
                                        <li id="lipage" class="page-item "><a class="page-link" onclick="pagination(@i)" href="/product/getskip?page=@i"></a></li>
                                    }

                                    }
                                       
                                        <li class="page-item left">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true"><i class="ti-arrow-left ml-1"></i>بعدی</span>
                                            </a>
                                        </li>
                                   
                                    </ul>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
@section script{
    
    <script>
        function openLeftMenu() {
            document.getElementById("leftMenu").style.display = "block";
        }
        function closeLeftMenu() {
            document.getElementById("leftMenu").style.display = "none";
        }
    </script>
    <script>
        function openFilterSearch() {
            document.getElementById("filter_search").style.display = "block";
        }
        function closeFilterSearch() {
            document.getElementById("filter_search").style.display = "none";
        }
    </script>
    <script>
        
        function pagination(ss) {      
           
            var Total = $("#limiter").val();
            
            var data = { "TotalRow": Total, "page": ss };
            window.location.href = "/product/getskip?page=" + ss + "&" + "TotalRow="+Total
          
        };
    </script>
    <script>
        function Selectindx() {

            if ($("#sorter").val() == 0) {


                window.location.href = "?SearchKey=@Context.Request.Query["SearchKey"]&CatId=@Context.Request.Query["CatId"]&Ordering=0"
            }
            else if ($("#sorter").val() == 4) {

                   window.location.href = "?SearchKey="+@Context.Request.Query["SearchKey"]"&CatId="+@Context.Request.Query["catid"]"&Ordering=4"


            }
            else if ($("#sorter").val() == 3) {

                   window.location.href = "?SearchKey="+@Context.Request.Query["SearchKey"]"&CatId="+@Context.Request.Query["catid"]"&Ordering=3"


            }
            else if ($("#sorter").val() == 5) {

                   window.location.href = "?SearchKey="+@Context.Request.Query["SearchKey"]"&CatId="+@Context.Request.Query["catid"]"&Ordering=5"


            }
        };
    </script>
}
