@model BissnessEntity.chngpass

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="gray">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-3">
                <nav class="dashboard-nav mb-10 mb-md-0">
                    <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                        <a class="list-group-item list-group-item-action dropright-toggle" href="~/Settings">
                            سفارشات من
                        </a>
                       
                        <a class="list-group-item list-group-item-action dropright-toggle" href="~/Product/GetFavorite">
                            مورد علاقه
                        </a>
                        <a class="list-group-item list-group-item-action dropright-toggle " href="~/settings/Changeinfo">
                            تنظیمات حساب
                        </a>
                        <a class="list-group-item list-group-item-action dropright-toggle active" href="~/Settings/ChangePassword">
                            تغییر رمز عبور
                        </a>
                        <a class="list-group-item list-group-item-action dropright-toggle" href="~/Account/Logout">
                            خروج
                        </a>
                    </div>
                </nav>
            </div>

            <div class="col-lg-8 col-md-9">
                <!-- Total Items -->
                <div class="card style-2">
                    <div class="card-header">
                        <h4 class="mb-0">جزئیات حساب</h4>
                    </div>
                    <div class="card-body">
                        <form class="submit-page" asp-action="ChangePassword"asp-controller="Account" method="post">
                            <div class="row">

                                <div class="col-12 col-md-6">
                                    <!-- Email -->
                                    <div class="form-group">
                                        <label>رمز عبور فعلی *</label>
                                        <input class="form-control" asp-for="ConfirmPass" type="text" placeholder="رمز عبور فعلی *" value="" required="">
                                        <span class="text-danger" asp-validation-for="ConfirmPass"></span>
                                    </div>

                                </div>
                                <br />
                                
                                <div class="col-12 col-md-6">
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label>رمز عبور جدید *</label>
                                        <input class="form-control" asp-for="NewPass" type="password" placeholder="رمز عبور جدید *" required="">
                                        <span class="text-danger" asp-validation-for="NewPass"></span>
                                    </div>
                                </div>
                                <br />
                                <div class="col-12 col-md-6">
                                    <!-- Password -->
                                    <div class="form-group">
                                        <label>تکرار رمز عبور جدید *</label>
                                        <input class="form-control" type="password" asp-for="NewPass2" placeholder="تکرار رمز عبور جدید *" required="">
                                        <span class="text-danger" asp-validation-for="NewPass2"></span>
                                    </div>
                                </div>                               

                                <div class="col-12">
                                    <button class="btn btn-dark" type="submit">ذخیره تغییرات</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>