
@{
    ViewData["Title"] = "SuccessPay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumbs_wrap gray">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-center">
                    <h2 class="breadcrumbs_title">پرداخت کامل شد</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">پرداخت کامل شد</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">

                <div class="card py-3 mt-sm-3">
                    <div class="card-body text-center">
                        <h2 class="pb-2">بابت سفارش شما متشکرم!</h2>
                        <p class="font-size-sm mb-2">سفارش شما ثبت شده است و در اسرع وقت رسیدگی می شود.</p>
                       
                        <p class="font-size-sm">به زودی ایمیلی با تأیید سفارش خود دریافت خواهید کرد. <u>اکنون می توانید:</u></p><a class="btn btn-secondary mt-3 ml-3" href="~/Product/ShowProduct">برگشت به خرید</a><a class="btn btn-primary mt-3" href="order-tracking.html"><i class="czi-location"></i>&nbsp;پیگیری سفارش</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
