
@{
    ViewData["Title"] = "GetUserInfo";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<body class="vertical-layout vertical-menu-collapsible page-header-dark vertical-modern-menu preload-transitions 1-column    blank-page blank-page" data-open="click" data-menu="vertical-modern-menu" data-col="1-column">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="section p-0 m-0 height-100vh section-500">
                    <div class="row">
                        <!-- 404 -->
                        <div class="col s12 center-align white">
                            <img src="~/app-assets/images/gallery/error-2.png" alt="" class="bg-image-500 center" >
                            <h1 class="error-code m-0">500</h1>
                            <h6 class="mb-2">درخواست اشتباه</h6>
                            <a class="btn waves-effect waves-light gradient-45deg-deep-purple-blue gradient-shadow mb-4" href="dashboard-ecommerce.html">بازگشت به خانه</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-overlay"></div>
        </div>
    </div>
    </body>

